@import '../../vars.scss';

.slug {
    position: relative;
    background-color: $background-color-base;
    margin-top: 25px;
    padding-bottom: 200px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    background-color: $background-color-base;
    padding-left: 16px;
    padding-right: 40px;
}

.delete {
    border: 1px solid $highlight-color;
    border-radius: 4px;
    color: $highlight-color;
    padding: 8px 36px;
    background-color: $background-color-base;
    cursor: pointer;
}

.edit {
    border: 1px solid $success-color;
    border-radius: 4px;
    color: $success-color;
    padding: 8px 36px;
    background-color: $background-color-base;
    cursor: pointer;
}

.button-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
    right: 14px;
    top: 90px;
}

.warning {
    position: relative;
    left: 124px;
    position: absolute;
    background-color: $background-color-base;
    border-radius: 4px;
    width: 240px;
    height: 104px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
    padding: 0 12px 12px 40px;
}

.warning::after {
    content: "";
    display: block;
    position: relative;
    background-image: url('../../assets/img/Vector.svg');
    width: 14px;
    height: 14px;
    left: -24px;
    bottom: 66px;
}

.warning::before {
    position: relative;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 12px solid $background-color-base;
    left: -52px;
    top: 15px;
}

.warning-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $grey-8;
    margin-bottom: 12px;
}

.no {
    border: none;
    background: $background-color-base;
    border: 1px solid $grey-5;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $grey-8;
    cursor: pointer;
}

.yes {
    border: none;
    background: $blue-6;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $background-color-base;
    cursor: pointer;
}

.warning-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}